<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
      script-src 'self' https://maxcdn.bootstrapcdn.com;
      style-src 'self' https://maxcdn.bootstrapcdn.com;
      font-src 'self' https://cdnjs.cloudflare.com;
      img-src 'self';
      object-src 'self'"/>
    <title>footer</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"
          th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-default" role="navigation" th:fragment="footer" style="background-color: #e0e0e0">
    <div class="container" id="footer">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a target="_blank" href="http://www.vib.be" style="padding-left: 15px;">
                    <img border="0" th:src="@{/images/VIBLogo.png}" width="84px" height="50px"/>
                </a></li>
                <li><a target="_blank" href="http://www.ugent.be/en">
                    <img border="0" th:src="@{/images/ugent-logo.png}" width="86px" height="67px" />
                </a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{'/information'}" >Information</a></li>
                <li><a th:href="@{'/help'}" >Help</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->

    </div>
    <!-- /.container -->
</nav>


</body>
</html>