.gene-list.panel-body.panel-body{
    overflow-y: scroll;
    max-height: 300px;
    max-width: 30%;
}

.panel-default > .panel-heading-custom {
    background: #ededed !important;
}

.vertical-center {
    min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 70vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.squareRed{
    width: 12px;
    height: 12px;
    Background-color: red;
    margin: 0;
}
.squareBlue{
    width: 12px;
    height: 12px;
    Background-color: #0066ff;
    margin: 0;
}
.squareYellow{
    width: 12px;
    height: 12px;
    Background-color: yellow;
    margin: 0;
}


