<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SECRiFY</title>

    <link th:href="@{/css/bootstrap.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/css/overview.css}"
          rel="stylesheet" media="screen" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"
            type="text/javascript"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

    <script>
        $(function() {
            if (window.location.search.startsWith("?domain")) {
                document.getElementById("proteinPanel").style.display = 'none';
                document.getElementById("domainPanel").style.display = 'block';
            } else if(window.location.search.startsWith("?protein")) {
                document.getElementById("proteinPanel").style.display = 'block';
                document.getElementById("domainPanel").style.display = 'none';
            }
        });
    </script>

    <div th:insert="~{fragments/header :: header}"></div>
    <!--/*@thymesVar id="proteins" type="List<com.compomics.secretesite.domain.dataTransferObjects.ProteinDTO>"*/-->
    <!--/*@thymesVar id="domains" type="List<com.compomics.secretesite.domain.Domain>"*/-->
    <div class="vertical-center">
        <div class="container">
            <div id="proteinPanel" style="display: none;">
                <p style="color:grey; font-style: italic;">Please search the protein of interest.</p>
                <table class="table table-hover" id="proteinTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Uniprot Accession</th>
                        <th>Protein Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="protein:${proteins}">
                        <tr>
                            <td style="text-align: center; width: 3%">
                                <a th:href="'/index?protein=' +${protein.proteinAccession}">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td th:text="${protein.proteinAccession}" ></td>
                            <td th:text="${protein.proteinName}" ></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <div id="domainPanel" style="display: none;">
                <p style="color:grey; font-style: italic;">Please search the domain of interest.</p>
                <table class="table table-hover" id="domainTable">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Domain Accession</th>
                        <th>Domain Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="domain:${domains}">
                        <tr>
                            <td style="text-align: center; width: 3%">
                                <a th:href="'/index?domain=' +${domain.domainAccession}">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td th:text="${domain.domainAccession}" ></td>
                            <td th:text="${domain.domainName}" ></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>