<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:include="fragments/header"></div>
<div class="dna-pane active">
    <!--/*@thymesVar id="gene" type="com.compomics.secretesite.model.Gene"*/-->
    <table class="table">
        <thead></thead>
    <tr th:each ="transcripts:${gene.getTranscripts()}"></tr>
    </table>
</div>

</body>
</html>