<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secrete-site</title>

    <link th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script src="//cdn.bio.sh/msa/latest/msa.min.gz.js"></script>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<!--/*@thymesVar id="protein" type="com.compomics.secretesite.domain.Protein"*/-->
<div class="container">
<div id="msa" style="height: 200px">Loading protein view...</div>
<script th:inline="javascript">
    //<![CDATA[
    function proteinView() {
        var accession =  [[${protein.proteinAccession}]];
        alert([[${protein.parentTranscripts}]]);
        var url = 'http://www.uniprot.org/uniprot/'+accession+'.fasta';
        var url2 = 'http://www.uniprot.org/uniprot/P04637.fasta';

        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'text',
            success: function (data) {
                var label = data.split("|")[2].split(" ")[0];

                var seqs = msa.io.fasta.parse(data);

                var m = msa({
                    el: document.getElementById("msa"),
                    seqs: seqs
                });
                m.seqs.addFeatures( msa.io.gff.parseSeqs(label +" . gene	5 	35	.	.  .  Name=ENST00000269305 ;Color=red"));
                m.seqs.addFeatures( msa.io.gff.parseSeqs(label +" . gene	40 	80	.	.  .  Name=ENST00000269306 ;Color=red"));
                m.seqs.addFeatures( msa.io.gff.parseSeqs(label +" . gene	50 	85	.	.  .  Name=domain1 ;Color=yellow"));
                m.seqs.addFeatures( msa.io.gff.parseSeqs(label +" . gene	90 	100	.	.  .  Name=domain2 ;Color=yellow"));
                m.seqs.addFeatures( msa.io.gff.parseSeqs(label +" . gene	1 	25	.	.  .  Name=domain3 ;Color=yellow"));
                m.g.vis.set("labelId", false);
                m.g.vis.set("scaleslider", true);


                m.render();

            },

            error: function (e) {
                console.log(e.message);
            }
        });
    }
    document.addEventListener( "DOMContentLoaded", function(){
        setTimeout(function(){proteinView();}, 2000);

    });
    //]]>
</script>



        <table class="table table-hover table-sticky-header table-expandable" style="table-layout: fixed">
            <thead>
            <th style="width: 3%"></th>
            <th style="width: 15%">transcript accession</th>
            <th style="width: 82%">secretion status</th>

            </thead>
            <tbody>

                <tr data-toggle="collapse" th:attr="data-target='#accordion1'" class="clickable" >
                    <td><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></td>
                    <td>ENST00000269305</td>
                    <td>depleted</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div th:id="'accordion1'" class="collapse" >
                            <h4>PDBIDs</h4>
                            <ul>
                                <li>
                                    <a>4HHB</a>
                                    <a>5EZR</a>
                                    <a>5UEW</a>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary " id="btn1">Go to 3D view</button>
                        </div>
                    </td>
                </tr>
                <tr data-toggle="collapse" th:attr="data-target='#accordion2'" class="clickable" >
                    <td><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></td>
                    <td>ENST00000269306</td>
                    <td>depleted</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div th:id="'accordion2'" class="collapse" >
                            <h4>PDBIDs</h4>
                            <ul>
                                <li>
                                    <a>4HHB</a>
                                    <a>5EZR</a>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" id="btn2">Go to 3D view</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    <script th:inline="javascript">

        //<![CDATA[
        $('#btn1').on('click', function () {

            window.location = '/3dProtein?structureId=3';

            return false;
        });
        $('#btn2').on('click', function () {

            window.location = '/3dProtein?structureId=2';

            return false;
        });

        //]]>
    </script>

</div>
<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>