<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secrete-site</title>

    <link th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/css/overview.css}"  rel="stylesheet" media="screen" />
    <link th:href="@{/css/bootstrap-table-expandable.css}"  rel="stylesheet" />
    <script src="//cdn.bio.sh/msa/latest/msa.min.gz.js"></script>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-table-expandable.js}"></script>
    <style>

        .panel-header {
            font-size: 14px;
            font-weight: bolder;
        }
        .panel-heading span
        {
            margin-top: -20px;
            font-size: 15px;
        }

        .row
        {
            margin-top: 40px;
            padding: 0 10px;
        }

        .clickable
        {
            cursor: pointer;
        }
        .wrap {
            width: 100%;
        }

        .wrap table {
            width: 100%;
            table-layout: fixed;
        }

        .wrap table tr td {
            padding: 5px;
            border: 1px solid #ededed;
            width: 100px;
            word-wrap: break-word;
        }

        .wrap table.head tr th {
            background: #ededed;
            height: 30px;
        }

        .inner_table {
            max-height: 100px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container">
<div id="msa" style="height: 200px">Loading protein view...</div>
    <!--/*@thymesVar id="proteinDTOS" type="List<com.compomics.secretesite.domain.dataTransferObjects.ProteinDTO>"*/-->
<script th:inline="javascript">
    //<![CDATA[

    function proteinView() {

        var proteinDTOS = /*[[${proteinDTOSJson}]]*/;

        var proteinObj = JSON.parse(proteinDTOS);
        for(i=0; i<proteinObj.length; i++){

            var url = 'http://www.uniprot.org/uniprot/' + proteinObj[i].proteinAccession + '.fasta';
            var domainDTOs = proteinObj[i].domainDTOs;
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'text',
                success: function (data) {

                    var label = data.split("|")[2].split(" ")[0];

                    var seqs = msa.io.fasta.parse(data);

                    var m = msa({
                        el: document.getElementById("msa"),
                        seqs: seqs
                    });

                    for(j=0; j<domainDTOs.length; j++){

                        var feature = " . domain " + domainDTOs[j].domainStart+"  "+domainDTOs[j].domainEnd+
                            "	.	.  .  Name=" + domainDTOs[j].domainAccession + " ;Color=" + getRandomColor();

                        m.seqs.addFeatures(msa.io.gff.parseSeqs(label + feature));
                    }



                    m.g.vis.set("labelId", false);
                    m.g.vis.set("labelName", false);
                    m.g.vis.set("scaleslider", true);


                    m.render();

                },

                error: function (e) {
                    console.log(e.message);
                }
            });
        }


    }
    document.addEventListener( "DOMContentLoaded", function(){
        setTimeout(function(){proteinView();}, 2000);

    });

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
    //]]>
</script>



        <table class="table table-hover table-sticky-header table-expandable" style="table-layout: fixed">
            <thead>
            <th style="width: 3%"></th>
            <th style="width: 15%">Uniprot Accession</th>
            <th style="width: 62%">Protein Name</th>
            <th style="width: 10%"># Domains</th>
            <th style="width: 10%"># Fragments</th>

            </thead>
            <tbody>
                <th:block th:each="protein:${proteinDTOS}">
                    <tr th:attr="data-target='#'+${protein.proteinAccession}" class="clickable">
                        <td><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></td>
                        <td th:text="${protein.proteinAccession}"></td>
                        <td th:text="${protein.proteinName}"></td>
                        <td th:text="${protein.domainDTOs.size()}"></td>
                        <td th:text="${protein.mainFragmentDTOs.size()}"></td>
                    </tr>
                    <tr th:id="${protein.proteinAccession}">
                        <td colspan="5">
                            <div  class="panel panel-default">
                                <div class="panel-heading">
                  	                <span class="clickable panel-collapsed">
                    	                <h3 class="panel-title">
                    		                Domains  <span class="glyphicon glyphicon-chevron-down"/>
                    	                </h3>
                                    </span>
                                </div>
                                <div class="panel-body panel-collapse collapse ">
                                    <div class="wrap">
                                        <table class="head">
                                            <tr>
                                                <th style="width: 20%;">Domain Accession</th>
                                                <th style="width: 50%;">Domain Name</th>
                                                <th style="width: 15%;">Domain Start</th>
                                                <th style="width: 15%;">Domain End</th>
                                            </tr>
                                        </table>
                                        <div class="inner_table">
                                            <table>
                                                <th:block th:each="proteinDomain:${protein.domainDTOs}">
                                                    <tr>
                                                        <td style="width: 20%;" th:text="${proteinDomain.domainAccession}"></td>
                                                        <td style="width: 50%;" th:text="${proteinDomain.domainName}"></td>
                                                        <td style="width: 15%;" th:text="${proteinDomain.domainStart}"></td>
                                                        <td style="width: 15%;" th:text="${proteinDomain.domainEnd}"></td>

                                                    </tr>
                                                </th:block>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div  class="panel panel-default">
                                <div class="panel-heading">
                  	                <span class="clickable panel-collapsed">
                    	                <h3 class="panel-title">
                    		                Fragments  <span class="glyphicon glyphicon-chevron-down"/>
                    	                </h3>
                                    </span>
                                </div>
                                <div class="panel-body panel-collapse collapse ">
                                    <div class="wrap">
                                        <table class="head">
                                            <tr>
                                                <th style="width: 30%;">Fragment Accession</th>
                                                <th style="width: 10%;">Secretion Status</th>
                                                <th style="width: 15%;">Fragment Start</th>
                                                <th style="width: 15%;">Fragment End</th>
                                                <th style="width: 30%;">PDB Ids</th>

                                            </tr>
                                        </table>
                                        <div class="inner_table">
                                            <table>
                                                <th:block th:each="mainTranscripts:${protein.mainFragmentDTOs}">
                                                    <tr>
                                                        <td style="width: 30%;" th:text="${mainTranscripts.fragmentAccession}"></td>
                                                        <td style="width: 10%;" th:text="${mainTranscripts.secretionStatus}"></td>
                                                        <td style="width: 15%;" th:text="${mainTranscripts.fragmentStart}"></td>
                                                        <td style="width: 15%;" th:text="${mainTranscripts.fragmentEnd}"></td>
                                                        <td style="width: 30%;" >
                                                            <a  th:text="${mainTranscripts.pdbIds}"th:href="@{'/3dProtein?structureId=' + ${mainTranscripts.structureIds}}"/>
                                                        </td>

                                                    </tr>
                                                </th:block>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>


            </tbody>
        </table>
    <script th:inline="javascript">

        //<![CDATA[

        $('#btn2').on('click', function () {

            window.location = '/3dProtein?structureId=2';

            return false;
        });


            jQuery(function($) {
                $('.panel-heading span.clickable').on("click", function(e) {
                    if ($(this).hasClass('panel-collapsed')) {
                        // expand the panel
                        $(this).parents('.panel').find('.panel-body').slideDown();
                        $(this).removeClass('panel-collapsed');
                        $(this).find('span').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                    } else {
                        // collapse the panel
                        $(this).parents('.panel').find('.panel-body').slideUp();
                        $(this).addClass('panel-collapsed');
                        $(this).find('span').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                    }
                });
            });


        //]]>
    </script>

</div>
<h1></h1>
<div th:insert="~{fragments/footer :: footer}"></div>

</body>
</html>