<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
      script-src 'self' 'unsafe-inline' https://code.jquery.com/jquery-2.1.4.min.js https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js;
      style-src 'self' 'unsafe-inline';
      font-src 'self' https://cdnjs.cloudflare.com;
      img-src 'self';
      object-src 'self'"/>
    <title>SECRiFY</title>

    <link th:href="@{/css/bootstrap.css}"
          rel="stylesheet" media="screen" />
    <link th:href="@{/css/overview.css}"
          rel="stylesheet" media="screen" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"
            type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>



</head>
<body>

<div th:insert="~{fragments/header :: header}"></div>
<div class="container">
    <p>SECRiFY (Secretability Screening of Recombinant Fragments in Yeast) is a method that was developed to
        systematically assess the secretion of domain-sized protein fragments, ideally covering entire proteomes,
        by the yeast secretory system. <a th:href="@{'/information'}">More info ***</a></p>
</div>

<div class="vertical-center">
    <!--/*@thymesVar id="proteins" type="List<com.compomics.secretesite.domain.dataTransferObjects.ProteinDTO>"*/-->
    <!--/*@thymesVar id="domains" type="List<com.compomics.secretesite.domain.Domain>"*/-->
<div class="container">

    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
            <ul class="nav nav-pills  nav-stacked">
                <li class="active"><a href="#proteinSearch" data-toggle="tab">Protein
                    Search</a></li>
                <li><a href="#domainSearch" data-toggle="tab">Domain
                    Search</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="tab-content" id="tabs">
                <div class="tab-pane active" id="proteinSearch">
                    <p style="font-size: medium;">Search by protein</p>
                    <div class="panel panel-default" style="display: block;">
                        <div class="panel-heading panel-heading-custom text-center"><h3 class="panel-title">SEARCH</h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                        <span style="float: right; font-size: 11px;">
                            <a href="#" style="text-decoration: underline; color: #62605E;"
                               onclick="setExample2()">#ex2</a>
                        </span>
                                    <span style="float: right; font-size: 11px;">
                            <a href="#" style="text-decoration: underline; color: #62605E;"
                               onclick="setExample1()">#ex1</a>&#160;&#160;
                        </span>
                                </div>
                                <br/>
                                <div class="input-group input-group-lg col-sm-10 col-sm-offset-1">
                                    <input type="text" class="form-control" placeholder="Uniprot Accession or protein name" id="uniprotAccession">
                                </div>
                                <br/>

                                <div align="center">
                                    <label >
                                        <input type="radio" id="enrichedP" name="proteinRB" value="enriched" /> Enriched
                                    </label>
                                    <label >
                                        <input type="radio" id="depletedP" name="proteinRB" value="depleted" /> Depleted
                                    </label>
                                    <label >
                                        <input type="radio" id="bothP" name="proteinRB" checked="checked" value="both" /> Both
                                    </label>

                                </div>

                                <br/>
                                <div align="center">
                                    <button type="button" class="btn btn-primary " id="btnSearchProtein" style="width: 104px;">Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="domainSearch">
                    <p style="font-size: medium;">Search by domain</p>
                    <div class="panel panel-default" style="display: block;">
                        <div class="panel-heading panel-heading-custom text-center"><h3 class="panel-title">SEARCH</h3></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                        <span style="float: right; font-size: 11px;">
                            <a href="#" style="text-decoration: underline; color: #62605E;"
                               onclick="setExampleDomain2()">#ex2</a>
                        </span>
                                    <span style="float: right; font-size: 11px;">
                            <a href="#" style="text-decoration: underline; color: #62605E;"
                               onclick="setExampleDomain1()">#ex1</a>&#160;&#160;
                        </span>
                                </div>
                                <br/>
                                <div class="input-group input-group-lg col-sm-10 col-sm-offset-1">
                                    <input type="text" class="form-control" placeholder="PFAM id or domain description" id="domainAccession">
                                </div>
                                <br/>
                                <div align="center">
                                    <label >
                                        <input type="radio" id="enrichedD" name="domainRB" value="enriched" /> Enriched
                                    </label>
                                    <label >
                                        <input type="radio" id="depletedD" name="domainRB" value="depleted" /> Depleted
                                    </label>
                                    <label >
                                        <input type="radio" id="bothD" name="domainRB" checked="checked" value="both" /> Both
                                    </label>

                                </div>

                                <br/>
                                <div align="center">
                                    <button type="button" class="btn btn-primary " id="btnSearchDomain" style="width: 104px;">Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div class="modal" tabindex="-1" role="dialog" id="proteinModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn btn-default" style="float: right;" data-dismiss="modal">Close</button>
                            <p style="color:grey; font-style: italic;">Please search the protein of interest.</p>
                            <table class="table table-hover" id="proteinTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Uniprot Accession</th>
                                    <th>Protein Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="protein:${proteins}">
                                    <tr>
                                    <td style="text-align: center; width: 3%">
                                        <a th:href="'/index?protein=' +${protein.proteinAccession}">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                    <td th:text="${protein.proteinAccession}" ></td>
                                    <td th:text="${protein.proteinName}" ></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="domainModal
" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="btn btn-default" style="float: right;" data-dismiss="modal">Close</button>
                            <p style="color:grey; font-style: italic;">Please search the domain of interest.</p>
                            <table class="table table-hover" id="domainTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Domain Accession</th>
                                    <th>Domain Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="domain:${domains}">
                                    <tr>
                                    <td style="text-align: center; width: 3%">
                                        <a th:href="'/index?domain=' +${domain.domainAccession}">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                    <td th:text="${domain.domainAccession}" ></td>
                                    <td th:text="${domain.domainName}" ></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



    </div>


</div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
<script th:inline="javascript">
    //<![CDATA[

        jQuery.noConflict();
        $('#btnSearchProtein').on('click', function () {

            if($('#uniprotAccession').val() != ""){
                if(isValidUniprotAcc($('#uniprotAccession').val().trim())){
                    window.location = [[@{/index.html}]] + '?protein='+ $('#uniprotAccession').val().trim() + '&type=' + $("input[name='proteinRB']:checked").val();
                }else{

                    window.location = [[@{/detailedSearch.html}]] + '?protein='+ $('#uniprotAccession').val() + '&type=' + $("input[name='proteinRB']:checked").val();
                }

            }else{
                var dialogInstance = new BootstrapDialog();
                dialogInstance.setTitle('INPUT ERROR');
                dialogInstance.setMessage('Accession cannot be empty!');
                dialogInstance.setType(BootstrapDialog.TYPE_DANGER);
                dialogInstance.open();
            }
            return false;
        });
        $("#uniprotAccession").keyup(function(event){
            if(event.keyCode == 13){
                $("#btnSearchProtein").click();
            }
        });

        $('#btnSearchDomain').on('click', function () {
            if($('#domainAccession').val() != ""){
                if(isValidDomainAcc($('#domainAccession').val().trim())){
                    window.location = [[@{/index.html}]] + '?domain='+ $('#domainAccession').val().trim() + '&type=' + $("input[name='domainRB']:checked").val();
                }else{
                    window.location = [[@{/detailedSearch.html}]] + '?domain='+ $('#domainAccession').val() + '&type=' + $("input[name='domainRB']:checked").val();
                }

            }else{
                var dialogInstance = new BootstrapDialog();
                dialogInstance.setTitle('INPUT ERROR');
                dialogInstance.setMessage('Accession cannot be empty!');
                dialogInstance.setType(BootstrapDialog.TYPE_DANGER);
                dialogInstance.open();
            }
            return false;
        });
        $("#domainAccession").keyup(function(event){
            if(event.keyCode == 13){
                $("#btnSearchDomain").click();
            }
        });


    function isValidUniprotAcc(accession){
        if (accession.trim() == "") {
            return false;
        }
        if (accession.length != 6 && accession.length != 10) {
            return false;
        }
        var r = new RegExp("[OPQ][0-9][A-Z0-9]{3}[0-9]|[A-NR-Z][0-9]([A-Z][A-Z0-9]{2}[0-9]){1,2}", "i");
        if(accession.match(r)){
            return true;
        }
        return false;
    }

    function isValidDomainAcc(accession){

        if (accession.trim() == "") {
            return false;
        }
        if (accession.trim().length != 7 ) {
            return false;
        }
        if(!accession.trim().startsWith("PF")){
            return false;
        }
        var r = new RegExp("[0-9]", "i");
        if(accession.trim().substring(2).match(r)){
            return true;
        }
        return false;
    }

    function setExample1() {
        document.getElementById('uniprotAccession').value = 'Q15651';
        return false;
    }

    function setExample2() {
        document.getElementById('uniprotAccession').value = 'Q02218';
        return false;
    }
    function setExampleDomain1() {
        document.getElementById('domainAccession').value = 'PF07710';
        return false;
    }

    function setExampleDomain2() {
        document.getElementById('domainAccession').value = 'PF07710';
        return false;
    }
    //]]>
</script>

</body>
</html>